.inputBox{   
    
    input{   
        
        height: 2.3rem;
        margin-top: 6px;
        margin-bottom: 6px;

    }

    p{
        color: red;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}